body {
	color: #333;
}

.ss-gen__sub-header {
    margin: 0 0 10px;
}

.ss-gen__container {
    padding: 30px;
    margin: 0 auto;
    max-width: 1200px;
}

.ss-gen__control-section {
    padding: 20px;
    background: #eee;
    margin-bottom: 20px;
    border-radius: 5px;
}

.ss-gen__control-section button {
    background-color: #000;
    border: 0;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
    margin-bottom: 10px;
    display: block;
}

.ss-gen__control-section button:hover {
    background-color: #333;
}

.ss-gen__slide-buttons {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 10px;
}

.ss-gen__slide-buttons .ss-gen__slide-button {
    margin: 0;
    background-color: #fff;
    color: #333;
    border-radius: 0;
    border: 1px solid #000;
    border-right-width: 0;
    outline: 0;
}

.ss-gen__slide-buttons .ss-gen__slide-button:hover {
    background-color: #ccc;
}

.ss-gen__slide-button:last-of-type {
    border-right-width: 1px;
}

.ss-gen__control-section label {
    display: block;
}

.ss-gen__control-section input,
.ss-gen__control-section textarea {
    margin-bottom: 10px;
    width: 100%;
}

.ss-gen__control-section textarea {
    max-width: 100%;
    min-width: 100%;
    max-height: 200px;
    min-height: 50px;
}

.ss-gen__current-slide-controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

[data-selected-slide-index="0"] [data-slide-index="0"],
[data-selected-slide-index="1"] [data-slide-index="1"],
[data-selected-slide-index="2"] [data-slide-index="2"],
[data-selected-slide-index="3"] [data-slide-index="3"],
[data-selected-slide-index="4"] [data-slide-index="4"],
[data-selected-slide-index="5"] [data-slide-index="5"],
[data-selected-slide-index="6"] [data-slide-index="6"],
[data-selected-slide-index="7"] [data-slide-index="7"],
[data-selected-slide-index="8"] [data-slide-index="8"],
[data-selected-slide-index="9"] [data-slide-index="9"] {
    background-color: #ccc;
}

.ss-gen__animation-note {
    margin-bottom: 10px;
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: #fff;
}

.ss-gen__preview-code textarea {
    width: 100%;
    min-height: 100px;
    resize: none;
    margin-bottom: 20px;
}

/*** Dialog Styles ***/

.ss-gen__warning-dialog-container {
    position: fixed;
    z-index: 1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

body.show-warning-dialog .ss-gen__warning-dialog-container {
    display: block;
}

.ss-gen__warning-dialog {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -40%;
    margin-top: -150px;
    width: 80%;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ss-gen__warning-dialog-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.8);
}

.ss-gen__warning-dialog .ss-gen__warning-dialog-button {
    margin-top: 25px;

}